{% extends "blog/base.html" %}
{% block title %}share a post {% endblock %}
{% block content %}
    {% if sent %}
        <h1>Email successfully sent</h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>share "{{ post.title }}" by email</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="send email">
        </form>
    {% endif %}
{% endblock %}