{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Search{% endblock %}
{% block content %}
{% if query %}
<h1>Posts containing "{{ query }}" : </h1>
<h3>
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
</h3>

{% for post in results %}
<div class="list">

    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
    {{ post.body|markdown|truncatewords_html:10 }}
    <!-- <hr> -->
</div>

    {% empty %}
    <p>There are no results for your query.</p>
{% endfor %}
{% else %}
<h1>Search for posts</h1>

{% endif %}
{% endblock %}